@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;1,300;1,400&display=swap');
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none; 
    font-family: 'Zilla Slab', serif;
}
/* Estilos generales */
body {
    margin: 0;
    padding: 20px;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

h2 {
    color: #666666;
    margin-top: 30px;
}

p {
    margin-bottom: 10px;
}

input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.resultado {
    margin-top: 10px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
}

.calculadora input[type="number"],
.calculadora input[type="text"] {
    grid-column: span 3;
}

.calculadora button {
    grid-column: span 4;
}

.funciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.derivada {
    margin-top: 20px;
}

/* Estilos específicos para imágenes */
img {
    max-width: 100%;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos adicionales */
#expression,
#variable {
    margin-bottom: 10px;
}

.calcular-derivada {
    display: flex;
    justify-content: center;
    align-items: center;
}